*{
padding: 0;
margin: 0;
scroll-behavior: smooth;
color: white;
}
.hero{
width: 100vw;
height: 100vh;
background-image:url('nathan-dumlao-Xavq7lKj5j8-unsplash.jpg');
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
border-bottom: 10px groove black;  
}
.hero-container{
margin-top: 5rem;
width: 80%;
text-align: center;
}
.hero-heading{
font-size: 4rem;
margin: 2rem 0 1rem 0;
}
.hero-btn{
    height: 3rem;
    width: 10rem;
    border-radius: 6%;
    background-color: #1B7DE3;
    border: none;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
}